@font-face {
  font-family: 'Segoe UI';
  src: url('../fontsfolder/Segoe UI.eot');
  src: url('../fontsfolder/Segoe UI.eot?#iefix') format('embedded-opentype'),
       url('../fontsfolder/Segoe UI.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fontsfolder/SegoeUI.svg#SegoeUI') format('svg'),
       url('../fontsfolder/SegoeUI.ttf') format('truetype'),
       url('../fontsfolder/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

